<head>
  <script src="scripts.js"></script>
</head>
{{#each gifArray}}
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">
    <span><b>{{gifName}}</b></span>
    <button type="button" class="btn btn-outline-primary btn-sm" onclick=" copyText()">Copy URL</button>
  </div>
  <div class="card-body">
    {{!-- <h4 class="card-title"></h4> --}}
    {{!-- <p class="card-text">{{gifMessage}}</p> --}}
    <img style="height: 200px; width: 100%; display: block;" id="gifImg" src="{{gifURL}}" alt="GIF">
  </div>
</div>
{{/each}}